<!DOCTYPE html>
<html>
   <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Language Correction Model</title>
   </head> 
   <body>
      <header>   
         <h1>Language Correction Model</h1>
      </header>
      <main>
        <div class="container">
            <div class="form-grid">
                <div class="language-selector">
                    <label for="language-select">Select your native language:</label>
                    <select id="language-select">

                        <option value="Spanish">Spanish</option>
                        <option value="Chinese (Mandarin)">Chinese (Mandarin)</option>

                    </select>
                </div>
                <div class="text-input-wrapper">
                    <label for="text-input">Enter your text here:</label>
                    <textarea id="text-input" class="text-input"></textarea>
                </div>
            </div>
            <button type="button" id="submit-button" onclick="correctText()">Correct</button>
        </div>
        
        
         <!-- Output container below -->
         <div class="output-container">
            <h2>Corrected Text:</h2>
            <p id="output"></p>
         </div>
        <!-- Mistakes Analysis Container -->
        <div class="mistakes-container">
            <h2>Analyzed Mistakes:</h2>
            <ul id="mistakes-output"></ul>
        </div>
      </main>
      <script src="{{ url_for('static', filename='script.js') }}"></script>
   </body>
</html>
